root {
  --primary-color: #444444;
  --secondary-color:#9bee86;
  --min: 1.5rem;
  --max: 2rem;
  --text-color: ;

}


/*General css*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: #bbbbbb;
  color: #070707;
  font-weight: 500;
}



section {
  padding: 2rem;
  text-align: center;
}


.btn {
  background: #9bee86;
  color: white;
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}

ul {
  align-self: normal;
  margin-top: 5%;
  list-style: none;
}

li {
  text-align: start;
}

/*HEADER*/


.section-header {

  background-image: url(./Assets/img/image-back.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
  color: #c7eaf0;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 10%;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10%;
}

.nav-logo .logo-image {
  border-radius: 50%;
  margin-right: 50%;
}

.header-nav .nav-ref {
  padding-top: 2rem;
  width: 100%;
  margin-left: 35%;
  text-transform: uppercase;

}

.header-nav .nav-ref a {
  text-decoration: none;
  margin-left: 5%;
  color: white;
  font-size: 1.5rem;

}

.nav-ref a:hover {
  color: #9bee86;
  transition: 0.1s;

}

.section-inicio .section-services {
  display: flex;
  justify-content: space-around;
}

.inicio-title{
  font-size: 1.5rem;
  text-shadow: 0.2rem .2rem  rgb(0, 0, 0);
}

.inicio-btn {
  padding-top: 2rem;
}

/*Services*/


.service-list {
  display: flex;
  margin: 1.2rem;
  justify-content: space-between;
  align-content: center;
}

.service-list .service-card .icon {
  text-align: center;
}

.service-card {
  width: 400px;
  height: 500px;
  padding: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 10px;
  padding: auto;

}

.service-card:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: #9bee86;
  transition: 0.1s;
}

.card-title {
  color: white;
  margin-bottom: 5%;
font-weight: 600;
}

.card-content {
  width: fit-content;
  font-size: 1.5rem;
 
}
.service-card:hover i{
  color: #ffffff !important;
  text-shadow: 10px 10px rgba(0, 0, 0, 0.6);
}

.service-card:hover h2{

  text-shadow: 3px 2px rgba(0, 0, 0, 0.6);
}

.card-content p{
   font-size: large;
}

.card-content li{
  font-size: medium;
}

/*Contact*/
.media {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.media a {
  text-decoration: none;
  margin: 0.5rem;

}

.media .media-ref:hover {
  background-color: #c9e4ff;
  border-radius: 100%;
  padding: 15%;
  transition: 0.3s;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 2rem;
  align-content: center;
  background-color: #5384b4;

}

footer span {
  color: #5e29db;
}

footer a {
  text-decoration: none;
  margin: 0.5rem;
}